.facebook-style-btn {
    font-size: 0.9rem;
    border-radius: 2px;
    padding: 6px 12px;
}

.facebook-style-dark {
    box-shadow: inset 0 1px 0 #aaa;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359af;
}

.facebook-style-dark:hover {
    background: #2b54a7;
}

.facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
}

.facebook-style-light {
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4b4f56;
}

.facebook-style-light:hover {
    background: #e9ebee;
}

.facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;

}
