.shadow-typo {
    font-family: Bubblegum Sans;
    position: relative;
    display: inline block;
    font-size: 6rem;
    text-transform: uppercase;
    color: #00b3b4;
    text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0,0,0,0.1);
}